doctype
html
  head
    meta(charset="utf-8")
    title 技术学习—上传图片
    style.
      body {
        text-align: center;
        margin: 0px;
        background: #f8f8f8;
        padding: 0;
      }
      .upload {
        color: red;
      }
      #upload-btn {
        margin-right: 15px;
      }
      .content {
        padding-bottom: 100px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .footer {
        text-align: center;
        width: 100%;
        height: 100px;
        line-height: 90px;
        background-color: #363742;
        color: #9ca0aa;
      }
      .icp {
        color: #9ca0aa;
      }
      header {
        position: fixed;
        top: 0px;
        height: 60px;
        line-height: 60px;
        padding: 0 50px;
        font-size: 20px;
      }
      .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
  body
    .container
      .content 
          h1 技术学习—图片上传服务
          .input.upload
              input(type="button", value="上传图片", id="upload-btn")
              input(type="file", id="file")
              p(style="font-size: 16px; color: #454a54;") * 请上传1080P且文件不超过2M的JPG/PNG文件
              p(id="img-url")
      .footer
          @2020 guanshuaijie.cn，关帅杰 All Rights Reserved. 
          a(href="https://beian.miit.gov.cn/#/Integrated/index", class="icp") 京ICP备20020093号-1
    script(src="/jquery.min.js")
    script(src="/upload.js")
