doctype
html
  head
    meta(charset="utf-8")
    title 视频
  body
    h1 视频
    .content 
        video(src="/video/test.mp4", controls="control")
    script(src="/bower_components/jquery/dist/jquery.min.js")